<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakita - Dashboard</title>
</head>
<body>
    <h1>Tambah Buku Baru</h1>
    <form action="/add-book" method="POST">
        <label>Judul: </label><br>
        <input type="text" name="title" required><br><br>

        <label>Penulis: </label><br>
        <input type="text" name="author" required><br><br>

        <label>Jumlah: </label><br><br>
        <input type="number" name="quantity" required><br><br>

        <button type="submit">Tambah Buku</button>
    </form>
    <hr>

    <h2>Daftar Buku</h2>
    <table>
        <thead>
            <tr>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Jumlah</th>
            </tr>
        </thead>
        <tbody id="book-body">
            <script>
                function deleteBook(id) {
                    fetch('/delete-book', {
                        method: 'POST',
                        headers: {
                            'Content-Type' : 'application/x-www-form-urlencoded',
                        },
                        body: 'id=' + encodeURIComponent(id)
                    })
                    .then(res => {
                        if (res.ok) {
                            location.reload();
                        } else {
                            alert("Gagal menghapus buku")
                        }
                    })
                }

                fetch('/books')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById("book-body")
                    data.forEach(book => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <td>${book.title}</td>
                            <td>${book.author}</td>
                            <td>${book.quantity}</td>
                            <td><button onclick="deleteBook(${book.id})">Hapus</button></td>
                           `
                        tableBody.appendChild(row);
                    });
                })
                .catch(err => console.error("Error fetching books: ", err))
            </script>
        </tbody>
    </table>
</body>
</html>