<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakita - Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section id="table-book-html">
    <h2>Daftar Buku</h2>
    <table>
        <thead>
            <tr>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Jumlah</th>
            </tr>
        </thead>
        <tbody id="book-body">
            
        </tbody>
    </table>
    </section>

    <section id="add-book-html">
        <h2>Tambah Buku Baru</h2>
        <form action="/add-book" method="POST">
        <label>Judul: </label><br>
        <input type="text" name="title" required><br><br>

        <label>Penulis: </label><br>
        <input type="text" name="author" required><br><br>

        <label>Jumlah: </label><br><br>
        <input type="number" name="quantity" required><br><br>

        <button type="submit">Tambah Buku</button>
    </form>
    <hr>
    </section>

    <script src="/static/js/books.js"></script>
    <script src="/static/js/bookActions.js"></script>
    
</body>
</html>