<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakita - Pinjam Page</title>
</head>
<body>
    <h2>Masukkan data peminjam</h2>
    <form id="borrower-form">
        <input type="text" placeholder="Nama" name="name" required>
        <input type="text" placeholder="NIK" name="nik" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="text" placeholder="WA" name="phone" required>
        <input type="text" placeholder="Cari buku.." name="book" required>
    </form>
</body>
</html>